<!DOCTYPE html>
<html>
<body>
    <div class="card">
        <table>
            <p class="info-item">
                <b>Navn</b>
                <br>
                <span id="brugerNavn"></span>
            </p>
            <p class="info-item">
                <b>Beløb</b>
                <br>
                <span id="brugerSaldo"></span>
            </p>
            <p class="info-item">
                <b>Beløb for sidste ordre</b>
                <br>
                <span id="beløbSidsteOrdre"></span>
            </p>
        </table>
    </div>
    <script src="js/frontpage.js"></script>
</body>
</html>