<html>
<body>
    <div class="card">
        <form name="myForm" method="get" class="ajax" id="LoginForm">
            <h1>Kreditsystem</h1>
            <label for="username">Brugernavn</label>
            <input id="username" name="username" class="inputFelt" type="text" placeholder="Brugernavn"/>
            <label for="password">Password</label>
            <input id="password" name="password" class="inputFelt" type="password" placeholder="Password"/>
            <button class="mainButton" id="getLogin" type="submit">Login</button>
        </form>
    </div>
    <script type="text/javascript" src="js/login.js"></script>
</body>
</html>