<!DOCTYPE html>
<html lang="en">
    <body>
        <div id="topMainPage">
            <h1 id="topTitle"></h1>
        </div>
        <div class="content-wrapper">
            <div class="card navigation-wrapper">
                <p><b>Navigation</b></p>
                <ul class="nav-list">
                    <li id="forside">Forside</li>
                    <li id="indsaetPenge">Indsæt penge</li>
                    <li id="mineOplysninger">Mine oplysninger</li>
                    <li id="historik">Historik</li>
                </ul>
            </div>
            <div class="main-content">
                <div id="rightMainPage"></div>
            </div>
        </div>
        <div id="footMainPage"></div>
        <script src="js/mainPage.js"></script>
    </body>
</html>
